<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opentcs.kernel.persistence.mapper.FactoryModelMapper">

    <select id="selectPageFactoryModel" resultType="org.opentcs.kernel.persistence.entity.FactoryModelEntity">
        SELECT * FROM tcs_factory_model
        WHERE del_flag = '0'
        <if test="factoryModel.name != null and factoryModel.name != ''">
            AND name LIKE CONCAT('%', #{factoryModel.name}, '%')
        </if>
    </select>

    <select id="selectMaxSceneCodeNumber" resultType="java.lang.Integer">
        SELECT MAX(CAST(SUBSTRING(factory_id, 2) AS UNSIGNED))
        FROM tcs_factory_model
        WHERE factory_id REGEXP '^C[0-9]+$'
    </select>

</mapper>
