<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opentcs.kernel.persistence.mapper.LayerGroupMapper">

    <select id="selectPageLayerGroup" resultType="org.opentcs.kernel.persistence.entity.LayerGroupEntity">
        SELECT * FROM tcs_factory_layer_group
        <where>
            <if test="layerGroup.navigationMapId != null">AND navigation_map_id = #{layerGroup.navigationMapId}</if>
            <if test="layerGroup.name != null and layerGroup.name != ''">AND name LIKE CONCAT('%', #{layerGroup.name}, '%')</if>
            <if test="layerGroup.visible != null">AND visible = #{layerGroup.visible}</if>
        </where>
    </select>

</mapper>
