<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opentcs.kernel.persistence.mapper.VisualLayoutMapper">

    <select id="selectPageVisualLayout" resultType="org.opentcs.kernel.persistence.entity.VisualLayoutEntity">
        SELECT * FROM tcs_visual_layout
        <where>
            <if test="visualLayout.name != null and visualLayout.name != ''">AND name LIKE CONCAT('%', #{visualLayout.name}, '%')</if>
            <if test="visualLayout.plantModelId != null">AND plant_model_id = #{visualLayout.plantModelId}</if>
        </where>
    </select>

</mapper>
